@import url("fonts/stylesheet.css");

body {
    width: 100%;
    background-color: #101010;
}

header {
    height: 112px;
    background-color: #020202;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: auto;
    margin-left: 9.6%
}

.right-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: auto;
    margin-right: 9.6%
}

a.logo img {
    width: 53px;
    height: 54px;
    margin-right: 20px;
}

.left-item {
    margin-left: 24px;
}

.left-menu a {
    color: white;
    text-decoration: none;
}

.left-menu a:hover {
    color: white;
}

.baixe-button {
    width: 193px;
    height: 52px;
    background-image: url('img/launcher.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #020202;
    border: none;
    cursor: pointer;
}

.right-menu .user {
    width: 48px;
    height: 48px;
}

.right-menu .search {
    width: 48px;
    height: 48px;
    margin-left: 40px;
    margin-right: 24px;
}

.right-menu a {
    color: white;
    text-decoration: none;
    margin-left: 24px;
    /* Отступ между элементами */
}

.right-menu a:hover {
    color: white;
}


.hero img {
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

h1,
h2 {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: -0.011em;
    text-align: left;
    color: white;
    margin-left: 9.72%;
}

.platforms {
    display: flex;
    align-items: center;
}

.platforms h1 {
    margin-left: 17.2%;
}

.platform-list {
    list-style: none;
    padding: 0;
    margin-left: 20%;
    display: flex;
    justify-content: flex-end;
}

.platform-item {
    margin-right: 3%;
}

.slider {
    width: 67%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 calc(100% / 4);
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.button-vertodos {
    width: 260px;
    height: 63px;
    background-color: #020202;
    background-image: url('img/vertodos.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    margin: 64px auto 0;
    display: block;
}

.news {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.news-block {
    display: flex;
    justify-content: center;
}

.main-block {
    margin-right: 2.78%;
}

.right-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.second,
.third {
    width: 50%;
}

.news-item img {
    height: auto;
}

.main-block h1 {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 0;
}

.main-block p {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #797979;
}

.second h2,
.third h2 {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #FFFFFF;
    margin-left: 0;
    margin-top: 8px;
}

.second p,
.third p {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #797979;
    margin-left: 0;
    margin-top: 8px;
}

.rockstar_launcher {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 95px;
}


.rockstar_launcher {
    width: 100%;
    margin-left: -2%;
}

.footer-block {
    width: 100%;
    height: 238px;
    background-color: #020202;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.78%;
}

.social-item img {
    width: 24px;
    height: 24px;
    margin-left: 32px;
}

.rockstar-logo-footer {
    width: 60px;
    height: 55.25px;
    padding-left: 9.7%;
}

.footer-list {
    list-style-type: none;
    display: flex;
    margin-left: 16.6%;
    padding: 0;
}

.footer-item {
    margin-left: 4%;
}

.footer-item:first-child {
    margin-left: 0;
}

.social-list {
    list-style-type: none;
    display: flex;
    margin-right: 16.8%;
    padding: 0;
}

.footer-list li a {
    text-decoration: none;
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #B1B1B1;
}

.contacts-rights p {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #B1B1B1;
    margin-left: 16.6%;
}